<%= stylesheet_link_tag "home" %>
<div class="cotn_principal">
<div class="cont_centrar">

  <div class="cont_login">
<div class="cont_info_log_sign_up">
      <div class="col_md_login">
<div class="cont_ba_opcitiy">
        
        <h2>LOGIN</h2>  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> 
  <button class="btn_login" onclick="cambiar_login()">LOGIN</button>
  </div>
  </div>
<div class="col_md_sign_up">
<div class="cont_ba_opcitiy">
  <h2>SIGN UP</h2>

  
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

  <button class="btn_sign_up" onclick="cambiar_sign_up()">SIGN UP</button>
</div>
  </div>
       </div>

    
    <div class="cont_back_info">
       <div class="cont_img_back_grey">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
       
    </div>
<div class="cont_forms" >
    <div class="cont_img_back_">
       <img src="https://images.unsplash.com/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?ixlib=rb-0.3.5&q=50&fm=jpg&crop=entropy&s=7686972873678f32efaf2cd79671673d" alt="" />
       </div>
 <div class="cont_form_login">
<a href="#" onclick="ocultar_login_sign_up()" ><i class="bi bi-backspace"></i></a>
   <h2>LOGIN</h2>
   <%= form_for(:user, :url => session_path(:user)) do |f| %>
      <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> <br>
      <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
      <%= f.submit 'Login', class:"btn_login", onclick:"cambiar_login()" %>
    <% end %>
  </div>
  
   <div class="cont_form_sign_up">
<a href="#" onclick="ocultar_login_sign_up()"><i class="bi bi-backspace"></i></a>
     <h2>SIGN UP</h2>
     <%= form_for(:user, :url => registration_path(:user)) do |f| %>
      <%= f.text_field :email, :placeholder => "Email", type: "text", class: "form-control" %> <br>
      <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %> <br>
      <%= f.password_field :password_confirmation, :placeholder => "Password confirmation", class: "form-control"  %> <br>
      <%= f.submit "Sign up", data: {turbo: false}, class: "btn_sign_up", onclick: "cambiar_sign_up()" %>
    <% end %>
  </div>

    </div>
    
  </div>
 </div>
</div>
<%= render 'js' %>